.compare {

}
    .compare__preview {
        border: 2px solid #C49C65;
        border-radius: 16px;
        overflow: hidden; /* обрезаем уголки */
    }
        /* stylelint-disable */
        .compare__preview img-comparison-slider {
            width: 100%;
            vertical-align: top;
        }
        /* stylelint-enable */

            .compare__preview img {
                vertical-align: top;
                width: 100%;
                height: auto;
            }

            .compare__preview * {
                outline: none !important;
            }

    .compare__description {
        margin-top: 21px;
        font-style: italic;
        font-size: 18px;
        line-height: 22px;
        color: #C49C65;
    }



@media (max-width: 767px) {

    .compare {

    }
        .compare__preview {
            border-radius: 12px;
        }
            /* stylelint-disable */
            .compare__preview img-comparison-slider {

            }
            /* stylelint-enable */

                .compare__preview img {

                }

                .compare__preview * {

                }

        .compare__description {
            margin-top: 16px;
            font-size: 16px;
            line-height: 19px;
        }
}
