.comment {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #C49C65;
    padding: 20px 21px;
    border-radius: 10px;
}
    .comment__head {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }
        .comment__summary {

        }
            .comment__prefix {
                margin-top: 6px;
                font-size: 14px;
                line-height: 18px;
                color: #585858;
            }

            .comment__name {
                margin-top: 10px;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }

            .comment__rating {
                margin-top: 15px;
            }

        .comment__author {
            margin-left: auto;
        }
            .comment__photo {
                vertical-align: top;
                width: 60px;
                height: 60px;
            }

    .comment__message {
        margin-top: 16px;
        font-size: 16px;
        line-height: 19px;
        color: #585858;
    }

    .comment__link {
        margin-top: 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .comment__date {
        margin-top: auto;
        display: block;
        font-size: 14px;
        line-height: 18px;
        color: #585858;
        text-align: right;
    }

    .comment__date:hover {
        color: #585858;
    }



@media (max-width: 767px) {
    
    .comment {

    }
        .comment__head {

        }
            .comment__summary {

            }
                .comment__prefix {
                    margin-top: 2px;
                    font-size: 12px;
                    line-height: 14px;
                }

                .comment__name {
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 19px;
                }

                .comment__rating {
                    margin-top: 11px;
                }

            .comment__author {

            }
                .comment__photo {
                    width: 44px;
                    height: 44px;
                }

        .comment__message {
            font-size: 15px;
            line-height: 18px;
        }

        .comment__link {
            margin-top: 12px;
            font-size: 13px;
            line-height: 15px;
        }

        .comment__date {
            padding-top: 16px;
            font-size: 12px;
        }

        .comment__date:hover {

        }
}
