.reason {
    position: relative;
    border: 2px solid #C49C65;
    border-radius: 16px;
    padding: 22px;
    overflow: hidden; /* обрезаем фон при наведении */
}
    .reason::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 132px;
        height: 148px;
        background-image: url("../vectors/reason.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        opacity: 0;
        transition: opacity var(--transition-hover);
    }

.reason:hover::before {
    opacity: 100%;
}
    .reason__index {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: #C49C65;
    }

    .reason__title {
        margin-top: 24px;
        min-height: 48px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .reason__description {
        margin-top: 16px;
        min-height: 38px;
        font-size: 16px;
        line-height: 19px;
    }



@media (max-width: 767px) {

    .reason {
        border-radius: 10px;
        padding: 14px;
    }
        .reason::before {
            width: 94px;
            height: 105px;
            opacity: 1;
        }

    .reason:hover::before {

    }
        .reason__index {
            font-size: 28px;
            line-height: 34px;
        }

        .reason__title {
            margin-top: 16px;
            font-size: 18px;
            line-height: 22px;
        }

        .reason__description {
            margin-top: 12px;
            font-size: 15px;
            line-height: 18px;
        }
}
