:root {
    --action-color: var(--theme-base-color);
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --disabled-color: #9E9E9E;
    --slide-bottom: slide-bottom 1200ms var(--ease-out-quint);
    --transition-hover: 100ms ease;
}
